body{
    font-family: Arial;
    background:#f4f6f8;
}

.title{
    text-align:center;
    margin:30px 0;
}

.venue-container{
    display:flex;
    justify-content:center;
    gap:20px;
}
.venue-card{
    border:2px solid #ddd;
    border-radius:10px;
    width:220px;
    cursor:pointer;
    text-align:center;
    padding:10px;
    background:#fff;
}
.venue-card img{
    width:100%;
    height:140px;
    border-radius:8px;
}
.venue-card input{
    display:none;
}

.venue-card:hover{
    border-color:#2c7be5;
}
.next-btn{
    display: inline-block;
    padding:12px 30px;
    background:#2c7be5;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}
.next-btn:hover{
    background:#1a5fc4;
}
.action-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.next-btn, .back-btn{
    padding: 12px 30px;
    background: #2c7be5;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.back-btn{
    background: #4b3df5;
}
.next-btn:hover{
    background:#1a5fc4;
}
.back-btn:hover{
    background:#372bdc;
}
.action-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}
.next-btn, .back-btn{
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
.next-btn{
    background:#3706f8;
}
.next-btn:hover{
    background:#1a5fc4;
}




